
body {
    width: 960px;
    background-color: white;
    margin: 0 10% 0 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
#top {
    border: 1px solid #ffffff;
    padding: 30px 20% 30px 20% ;
    margin: 10px 0 45px 0;
}

div#top h1 {
    display: inline;
    float: left;
    margin-top: 0;

}
div#top li {
    display: inline;
    float: right;
    padding: 5px;
    border-left: inset 1px #dddddd;
    color: #dddddd;
}
#links li:last-child {
    border-left: none;
}
h1 {
    color: white;
    background-color: #4aaaa5;
    padding: 30px 35px;
    text-align: center;

}
h2 {
    color: #4aaaa5;
    background-color: white;
    padding: 20px 0 10px 25px;
    margin: 0;
    text-align: left;
}

h3 {
    color: #4aaaa5;
    background-color: white;
    padding: 10px 0 10px 0;
    margin: 0;
    text-align: center;
}
#main {
    width: 960px;
    margin: 0;
    border: 1px transparent;
    padding: 10% 20% 55% 20%;
    position: relative;
    background-image: url("/Basic-Portfolio/assets/images/grey.jpg");
    font-family: Georgia, Times, "Times New Roman", serif;
}
img {
    overflow: auto;
}
* img:hover {
    opacity: 0.5;
}
hr {
    margin: 5px 5px 5px 5px;
}
#about {
    float: left;
    width: 650px;
    display: inline-block;
    background-color: white;
    margin: 5% 5px 0 5px;
    border: 1px solid #dddddd;
}
#about img {
    float: left;
    margin-right: 15px;
    margin-left: 5px;
}
#connect {
    float: right;
    width: 270px;
    display: inline-block;
    margin: 5% 5px 0 5px;
    border: 1px solid #dddddd;
    background-color: white;
}
div#connect li, a {
    display: inline-block;
}
#connect ul {
    background-color: white;
    padding: 30px;
}
#connect img {
    width: 45px;
    height: 45px;
    padding: 5px 0 0 15px;
}
p {
    text-indent: 25px;
    text-align: left;
    padding: 5px;
    color: #777777;
}
#footer {
    margin-bottom: 0;
    background-color: #666666;
    padding: 30px 20% 30px 20%;
    width: 960px;
    border-top: 6px solid #4aaaa5;

}
#footer p {
    text-align: center;
    color: #ffffff;
}
/*Contact CSS */
#contact {
    float: left;
    width: 650px;
    height: 470px;
    display: inline-block;
    background-color: white;
    margin: 5% 5px 0 5px;
    border: 1px solid #dddddd;
}
input[type=text] {
    width: 50%;
    height: auto;
    font-size: 16px;
    padding: 12px 10px;
    margin: 10px 10px;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
}
textarea {
    font-size: 20px;
    display: inline-block;
    margin: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 15%;
    font-size: 16px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 5px 5px;
    margin: 0 10px;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
}
form {
    color: #dddddd;
    margin: 5px 5px;
}